<!doctype html>
<html lang="en">

<head>
  <title>Grupo Alfa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/jquery-ui.css">
  <link rel="stylesheet" href="static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="static/css/aos.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" type="x-icon" href="static/images/favicon.ico" />


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <!-- Header-->
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{{ url_for('index') }}" class="h2 mb-0">GrupoAlfa<span
                  class="text-primary">.</span>
              </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#about-section" class="nav-link">Acerca</a></li>
                <li><a href="#team-section" class="nav-link">Equipo</a></li>
                <li><a href="#portfolio-section" class="nav-link">Portafolio</a></li>
                <li><a href="#services-section" class="nav-link">Servicios</a></li>
                <li><a href="#contact-section" class="nav-link">Contacto</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#"
              class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>
    <!-- End Header -->



    <div class="site-blocks-cover overlay" style="background-image: url(static/images/back.webp);" data-aos="fade"
      id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8 mt-lg-5 text-center">
            <h1 class="text-uppercase" data-aos="fade-up">Bienvenido</h1>
            <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Somos un equipo de profesionales, orientado a
              obras civiles e industriales.</p>
            <div data-aos="fade-up" data-aos-delay="100">
              <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Contactanos</a>
            </div>
          </div>
        </div>
      </div>
      <a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>


    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Acerca de Nosotros</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
              <img src="static/images/hiro1.webp" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Por el proximo gran proyecto</h3>
              <p>En Grupo Alfa apostamos al desarrollo y contruccion de grandes y menores proyectos</p>
            </div>
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Auto Confianza, Empatia y Optimismo</li>
                <li>Altos conocimientos tecnicos</li>
                <li>Gran adaptabilidad</li>
                <li>Responsabilidad</li>
                <li>Prevencion, calidad y avance</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Nuestra Especialidad</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">Contamos con un gran equipo de profesionales con
              basta experiencia y conocimientos</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

            <div class="owl-carousel slide-one-item-alt">
              <img src="static/images/slide1.webp" alt="Image" class="img-fluid">
              <img src="static/images/ga15.webp" alt="Image" class="img-fluid">
            </div>
            <div class="custom-direction">
              <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#"
                class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
            </div>

          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

            <div class="owl-carousel slide-one-item-alt-text">
              <div>
                <h2 class="section-title mb-3">Con mas de 15 años de experiencia</h2>
                <p class="lead">Experiencia en construcciones</p>
                <p>Grupo alfa cuenta con una amplia experiencia acumulada a lo largo de los proyectos ejecutados</p>

                <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">Hacemos las cosas bien</h2>
                <p class="lead">Gran capacidad de aprendizaje</p>
                <p>Nuestro equipo esta capacitado para aprender y adaptarse a los cambios que se nos puedan presentar en
                  los diferentes proyectos que ejecutamos</p>

                <p><a href="#" class="btn btn-primary mr-2 mb-2">Mas Informacion</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <!-- Team Section -->
    <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Nuestro equipo</h2>
          </div>
        </div>
        <div class="row">
          {% for i in data %}
          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="{{ i.url }}" alt="Image" class="img-fluid" style="width: 500;">
              </figure>
              <div class="p-3">
                <h3>{{ i.nombre|title }}</h3>
                <span class="position">{{ i.cargo }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Team Section -->

    <!-- Portfolio Section -->
    <section class="site-section" id="portfolio-section">
      <div class="container">

        <div class="row mb-3">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Portafolio</h2>
          </div>
        </div>

        <div class="row justify-content-center mb-5" data-aos="fade-up">
          <div id="filters" class="filters text-center button-group col-md-7">
            <button class="btn btn-primary active" data-filter="*">Todo</button>
          </div>
        </div>

        <div id="posts" class="row no-gutter">
          <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
            <a href="https://www.youtube.com/watch?v=8nVOi-emLyg" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="/static/images/ga19.webp">
            </a>
          </div>


            <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
              <a href="https://www.youtube.com/watch?v=DHI0JYTObBs" class="item-wrap fancybox" data-fancybox="gallery2">
                <span class="icon-search2"></span>
                <img class="img-fluid" src="/static/images/ga20.webp">
              </a>
            </div>


              <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                <a href="https://www.youtube.com/watch?v=XSzcHJpW2mc" class="item-wrap fancybox"
                  data-fancybox="gallery2">
                  <span class="icon-search2"></span>
                  <img class="img-fluid" src="/static/images/ga21.webp">
                </a>
              </div>


                <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                  <a href="https://www.youtube.com/watch?v=IB8st1YWkvo" class="item-wrap fancybox"
                    data-fancybox="gallery2">
                    <span class="icon-search2"></span>
                    <img class="img-fluid" src="/static/images/ga22.webp">
                  </a>
                </div>


                  <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                    <a href="https://www.youtube.com/watch?v=I6tW5hQmmOA" class="item-wrap fancybox"
                      data-fancybox="gallery2">
                      <span class="icon-search2"></span>
                      <img class="img-fluid" src="/static/images/ga23.webp">
                    </a>
                  </div>

                  <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                    <a href="https://www.youtube.com/watch?v=yYCpUVhHC3M" class="item-wrap fancybox"
                      data-fancybox="gallery2">
                      <span class="icon-search2"></span>
                      <img class="img-fluid" src="/static/images/ga24.webp">
                    </a>
                  </div>

                  <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                    <a href="https://www.youtube.com/watch?v=IpDswBeYsLs" class="item-wrap fancybox"
                      data-fancybox="gallery2">
                      <span class="icon-search2"></span>
                      <img class="img-fluid" src="/static/images/ga25.webp">
                    </a>
                  </div>

                    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga1.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga1.webp">
                      </a>
                    </div>

                    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga2.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga2.webp">
                      </a>
                    </div>

                    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga5.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga5.webp">
                      </a>
                    </div>

                    <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga6.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga6.webp">
                      </a>
                    </div>

                    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga7.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga7.webp">
                      </a>
                    </div>

                    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga8.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga8.webp">
                      </a>
                    </div>

                    <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga9.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga9.webp">
                      </a>
                    </div>

                    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga10.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga10.webp">
                      </a>
                    </div>

                    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga13.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga13.webp">
                      </a>
                    </div>

                    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga14.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga14.webp">
                      </a>
                    </div>

                    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga16.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga16.webp">
                      </a>
                    </div>

                    <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                      <a href="/static/images/ga17.webp" class="item-wrap fancybox" data-fancybox="gallery2">
                        <span class="icon-search2"></span>
                        <img class="img-fluid" src="/static/images/ga17.webp">
                      </a>
                    </div>
                  </div>
                </div>
    </section>


    <section class="site-section border-bottom bg-light" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Nuestros Servicios</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-head"></span></div>
              <div>
                <h3>Administración de Obras</h3>
                <p>En grupo alfa contamos con un selecto equipo de profesionales, dedicado a la administración general
                  de obras con experiencia laboral en desarrollo, control de inventario, coordinacion, plainificacion
                  y manejo de personal</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-idea"></span></div>
              <div>
                <h3>Dirección de Obras </h3>
                <p>Nuestro grupo se caracteriza por tener un pilar de dirección solido que a lo largo de su trayectoria
                  a podido lidiar con las dificultades que se presenten en el terreno al momento de ejecutar una obra y
                  de esta forma cumplir con los plazos acordados para obra gruesa como para terminaciones</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-settings"></span></div>
              <div>
                <h3>Terminaciones de Obra</h3>
                <p>Nuestras filas de profesionales tienen experiencia y conocimiento de normativas, criterios y éticas
                  para dar con la terminación deseada, sin mencionar que contamos con una lista de contratistas que nos
                  han apoyado a lo largo de varios proyectos en los cuales damos fe de su trabajo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contacto</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-room d-block h4 text-primary"></span>
              <span>Coquimbo, 4ta Region</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h4 text-primary"></span>
              <a href="#">+56 963937959</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h4 text-primary"></span>
              <a href="#">constructora.cm.ltda@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">
            <form action="https://wekixx.deta.dev/form" method="post" class="p-5 bg-white">
              <h2 class="h4 text-black mb-5">Contacto</h2>
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Nombre</label>
                  <input type="text" id="name" name="name" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Apellido</label>
                  <input type="text" id="lname" name="lname" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="subject">Asunto</label>
                  <input type="subject" id="subject" name="subject" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Mensaje</label>
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control"
                    placeholder="Escriba sus notas aqui..."></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Enviar" class="btn btn-primary btn-md text-white">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">Acerca de nostros</h2>
                <p>Equipo de trabajo proactivo, con mas de 10 años de experiencia. Nuestras fortalezas son la
                  autoconfianza, empatia, optimismo, responsabilidad, altos conocimientos tecnicos, sistema de gestion y
                  manejo de personal, rapido aprendizaje del sistema de trabajo, gran adaptabilidad a los cambios y
                  compromiso con los nuevos desafios</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Enlaces Rapidos</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-section" class="smoothscroll">Acerca de nostros</a></li>
                  <li><a href="#services-section" class="smoothscroll">Servicios</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Contactanos</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Siguenos</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribete</h2>
            <form action="https://wekixx.deta.dev/sub" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" id="email"
                  name="email" placeholder="Ingrese Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <input type="submit" value="Enviar" class="btn btn-primary btn-md text-white">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> Todos los derechos reservados | Web diseñada para GrupoAlfa <i class="icon-heart text-danger"
                  aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div> <!-- .site-wrap -->

  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/jquery-ui.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/jquery.countdown.min.js"></script>
  <script src="static/js/jquery.easing.1.3.js"></script>
  <script src="static/js/aos.js"></script>
  <script src="static/js/jquery.fancybox.min.js"></script>
  <script src="static/js/jquery.sticky.js"></script>
  <script src="static/js/isotope.pkgd.min.js"></script>
  <script src="static/js/main.js"></script>

</body>

</html>